/*====================================================
 WEATHERSPHERE PRO
 FINAL PREMIUM RESPONSIVE WEATHER UI
====================================================*/


/*=========================
 RESET
=========================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    font-family:"Poppins",sans-serif;

    min-height:100vh;

    color:white;

    overflow-x:hidden;

    transition:.6s ease;

}



/*=========================
 BACKGROUND ENGINE
=========================*/


.weather-background{

    position:fixed;

    inset:0;

    z-index:-5;

    overflow:hidden;

    transition:1s ease;

}


/* DAY */


body.day .weather-background{

    background:

    linear-gradient(
        135deg,
        #56ccf2,
        #2f80ed
    );

}



/* NIGHT */


body.night .weather-background{

    background:

    linear-gradient(
        135deg,
        #141e30,
        #243b55
    );

}



/* RAIN */


body.rain .weather-background{

    background:

    linear-gradient(
        135deg,
        #314755,
        #26a0da
    );

}



/* STORM */


body.storm .weather-background{

    background:

    linear-gradient(
        135deg,
        #232526,
        #414345
    );

}



/* SNOW */


body.snow .weather-background{

    background:

    linear-gradient(
        135deg,
        #e6dada,
        #274046
    );

}





/*=========================
 STARS
=========================*/


.stars{

    position:absolute;

    inset:0;


    background-image:

    radial-gradient(
        white 1px,
        transparent 1px
    );


    background-size:

    40px 40px;


    opacity:0;


}



body.night .stars{

    opacity:.8;

    animation:

    starsMove 8s infinite alternate;

}



@keyframes starsMove{

from{

transform:translateY(0);

}

to{

transform:translateY(20px);

}

}






/*=========================
 CLOUDS
=========================*/


.cloud{


position:absolute;


background:

rgba(255,255,255,.25);


width:220px;

height:80px;


border-radius:100px;


filter:blur(2px);


}



.cloud-one{


top:15%;

left:-250px;


animation:

cloudMove 50s linear infinite;


}



.cloud-two{


top:45%;

left:-300px;


animation:

cloudMove 70s linear infinite;


}



@keyframes cloudMove{


from{

transform:translateX(0);

}


to{

transform:translateX(150vw);

}


}






/*=========================
 RAIN EFFECT
=========================*/


.rain-container{

position:absolute;

inset:0;

opacity:0;

}



body.rain .rain-container{


opacity:1;


background:

repeating-linear-gradient(

120deg,

transparent,

transparent 15px,

rgba(255,255,255,.25) 16px

);


animation:

rain 0.5s linear infinite;


}



@keyframes rain{


from{

transform:translateY(-50px);

}


to{

transform:translateY(50px);

}


}







/*=========================
 SNOW
=========================*/


body.snow .snow-container{


position:absolute;

inset:0;


background-image:

radial-gradient(
white 3px,
transparent 3px
);


background-size:

60px 60px;


animation:

snow 8s linear infinite;


}



@keyframes snow{


from{

transform:translateY(-100px);

}


to{

transform:translateY(100vh);

}


}








/*=========================
 HEADER
=========================*/


.header{


width:100%;

max-width:1200px;

margin:auto;

padding:25px 20px;


display:flex;

justify-content:space-between;

align-items:center;


gap:20px;


}



.logo{


font-size:28px;

font-weight:700;


}



.logo span{

color:#ffe082;

}






/* SEARCH */


.search-box{


display:flex;

gap:6px;


}


.search-box input{


width:260px;


padding:14px 18px;


border:none;


outline:none;


border-radius:30px;


font-size:15px;


}



.search-box button{


border:none;


width:45px;


height:45px;


border-radius:50%;


cursor:pointer;


font-size:18px;


background:white;


}








/*=========================
 CONTAINER
=========================*/


.container{


width:100%;


max-width:1200px;


margin:auto;


padding:20px;


}








/*=========================
 GLASS
=========================*/


.glass-card{


background:

rgba(255,255,255,.18);



backdrop-filter:

blur(20px);



-webkit-backdrop-filter:

blur(20px);



border:

1px solid rgba(255,255,255,.25);



border-radius:30px;



box-shadow:

0 20px 50px rgba(0,0,0,.18);



}








/*=========================
 MAIN WEATHER
=========================*/


.weather-main{


padding:35px;



display:grid;


grid-template-columns:

1fr auto auto auto;


align-items:center;



gap:35px;


}



.location h1{


font-size:32px;


}



.location p{


margin-top:8px;

opacity:.85;


}



.weather-icon{


font-size:90px;


animation:

float 4s infinite;


}



@keyframes float{


50%{

transform:translateY(-15px);

}


}



.temperature h2{


font-size:80px;


font-weight:600;


line-height:1;


}



.temperature p{


font-size:20px;


}




.update-box{


text-align:center;


}








/*=========================
 DETAILS
=========================*/


.details-grid{


margin-top:25px;


display:grid;


grid-template-columns:

repeat(4,1fr);


gap:20px;


}



.detail-card{


padding:25px;


text-align:center;


}



.detail-card h3{


opacity:.8;


}



.detail-card p{


font-size:25px;


font-weight:600;


margin-top:10px;


}







/*=========================
 SECTIONS
=========================*/


.section{


margin-top:40px;


}



.section h2{


margin-bottom:20px;


font-size:26px;


}







/* CHART */


.chart-card{


padding:25px;


}








/*=========================
 INFORMATION
=========================*/


.info-grid{


margin-top:30px;


display:grid;


grid-template-columns:

repeat(3,1fr);



gap:20px;


}


.info-card{


padding:25px;


text-align:center;


}



.info-card p{


font-size:22px;


font-weight:600;


margin-top:10px;


}









/*=========================
 FORECAST
=========================*/


.forecast-container{


display:flex;


gap:20px;


overflow-x:auto;


padding-bottom:15px;


}



.forecast-card{


min-width:150px;


padding:25px;


text-align:center;


transition:.3s;


}



.forecast-card:hover{


transform:translateY(-8px);


}








/*=========================
 LOADER
=========================*/


.loader{


position:fixed;


inset:0;


background:

rgba(0,0,0,.4);


display:flex;


justify-content:center;


align-items:center;


z-index:50;


}



.loader-card{


background:white;


color:#333;


padding:40px;


border-radius:30px;


text-align:center;


}



.loader-icon{


font-size:50px;


}



.hidden{

display:none;

}








/* ERROR */


.error{


position:fixed;


bottom:30px;


right:30px;


background:white;


color:#333;


padding:20px;


border-radius:20px;


}



.error.hidden{

display:none;

}









/*=========================
 TABLET
=========================*/


@media(max-width:900px){



.header{


flex-direction:column;


}



.search-box input{


width:220px;


}



.weather-main{


grid-template-columns:1fr;


text-align:center;


}



.details-grid{


grid-template-columns:

repeat(2,1fr);


}



.info-grid{


grid-template-columns:1fr;


}


}










/*=========================
 MOBILE
=========================*/


@media(max-width:600px){



.header{


padding:20px 15px;


}



.logo{


font-size:22px;


}



.container{


padding:15px;


}



.search-box{


width:100%;


}



.search-box input{


flex:1;


width:auto;


}



.weather-main{


padding:25px 15px;


}



.location h1{


font-size:25px;


}



.weather-icon{


font-size:70px;


}



.temperature h2{


font-size:55px;


}



.details-grid{


grid-template-columns:1fr;


}



.detail-card{


padding:20px;


}



.section h2{


font-size:22px;


}



.forecast-card{


min-width:130px;


}



}
